[submodule "actions/github-script"]
	path = actions/github-script
	url = https://github.com/actions/github-script.git
	branch = v7
[submodule "terraform/setup-terraform"]
	path = terraform/setup-terraform
	url = https://github.com/hashicorp/setup-terraform.git
	branch = v3
[submodule "reviewdog/action-tflint"]
	path = reviewdog/action-tflint
	url = https://github.com/reviewdog/action-tflint.git
	branch = v1
